.content{
    display: flex;
   margin: 100px;
   padding: 30px;
  justify-content: space-between;
   
}
.pr{
    max-width: 60%;
    line-height: 1.75rem;
   
    
}
.header{
    color: #f77d7d;
    text-shadow: 0 4px 4px rgb(232, 195, 195);
    border-radius: 40px;
}
.logo img{
  width: 250px;
  height: 250px;
}

@media ((max-width: 990px)) {
   .content{
    display: block;
    margin: auto;
   }
   .pr{
    width: 100%;
    text-align: center;
    font-size: 12px;
   }
  
}