.content{
    display: flex;
   margin: 100px;
   padding: 30px;
   animation: FadeIn 5s;
   
}
.pr{
    max-width: 60%;
    line-height: 1.75rem;
   
    
}
.header{
    color: #f77d7d;
    text-shadow: 0 4px 4px rgb(232, 195, 195);
    border-radius: 40px;
    max-width: 50%;
    text-align: center;
}

.content img{
  width: 250px;
  height: 250px;
}