
.overley{
    position:absolute;
    background-color: rgba(21, 20, 20,0.8);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 40px;
    color:white;
    text-align: center;
   line-height: 2rem;
}
h3{

font-weight: bolder;
}
p{
    margin: 2rem;
}
