.nav{
    position: fixed;
    z-index: 2;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    padding: 2em;
}


.MenueToggle{
    cursor: pointer;
}
.Navoverley{
    position: fixed;
    background-color: #f77d7d;
    z-index: -2;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0rem;
    transition: all 2s cubic-bezier(0.16,1,0.3,1);
}
.Box{
    position: relative;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease;
    padding: 2.2em;
    margin-right: 10px;
    float: right;
}

.BoxOpen{
    background-color: white;
}
.lineTop , .linebottom , .lineCenter{
    margin: 0 auto;
    position: absolute;
    display: block;
    width: 20px;
    height: 4px;
    border-radius: 10px;
    background-color: #f1a5a5;
    left: 0;
    right: 0;
    transform: rotate(0deg);
    transition: all 0.4s;
}
.lineTop{
    top: 2.2em;
}
.lineCenter{
    bottom: 2.2em;
}
.linebottom{
    bottom: 3em;
}
.lineCenter.spin{
    display: none;
}
.lineTop.spin{
    top: 2.35em;
    transform: rotate(135deg);
    background-color: #f77d7d;
}
.linebottom.spin{
    bottom: 2.35em;
    transform: rotate(225deg);
    background-color: rgb(247, 125, 125);
}
.wrapper{
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%,-50%);
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.backLink{
    color:white;
    text-decoration: none;
    font-size: 32px;
}
.backLink:hover{
    text-shadow: 2px 2px 4px rgba(241, 234, 234, 0.6);
}