img{
    display: block;
    margin: auto;
    border-radius: 40px;
}

h2{
    color: #f77d7d;
    font-weight: bolder;
    text-align: center;
}

.col{
    display: flex;
    justify-content: space-around;
    margin: 3rem;
}
.ToDo:hover{
    position: relative;
  
}
.ToDo img{
   width: 100%;
}
.weather , .Dicationary, .ToDo{
    width: 50%;
   border-radius: 40px;
}
.weather:hover{
    position: relative;
}
.weather img{
    width: 200px;
}


.Dicationary img{
    width: 100%;
}
.Dicationary:hover{
    position: relative;
}

@media ((max-width: 990px)) {
    .col{
        display: block;
    }
    .weather , .Dicationary, .ToDo{
        width: 100%;
        margin-bottom: 5rem;
    }
    
}
